<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<input type="file" id="file-input">
<p id="status">Please select a file</p>

<form method="POST" action="/save-details">
  <input type="hidden" id="avatar-url" name="avatar-url" value="../public/images/default.jpg">
  <input type="text" name="username" placeholder="Username"><br>
  <input type="text" name="full-name" placeholder="Full name"><br><br>
  <input type="submit" value="Update profile">
</form>
